*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}
:root{
    --main-color: #19c8fa; 
    --section-padding: 100px; 
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Open Sans", sans-serif;
}
ul{
    list-style: none;
}
.container{
    margin: 0 auto;
    padding: 0 15px;
    /* background-color: #d2e6eb; */
}
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
   
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

  header {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 2;
  }
  header .container{
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    min-height: 100px;
  }
 
  header .container::after{
    content: "";
    position: absolute;
    height: 1px;
    background-color: #a2a2a2;
    bottom: 0;
    width: calc(100% - 30px); /* remove padding px */
    left: 15px; 
  }

  header .logo{
    height: 40px;
  }
  header nav{
    display: flex;
    justify-content: flex-end;
    flex: 1;
    align-items: center;
  }
  
  header nav .burger-icon{
    color: white;
    font-size: 22px;
    cursor: pointer;
  }

  @media (min-width:767px){
    nav .burger-icon{
      display: none;
    }
  }

  nav ul{
      display: flex;
  }

@media (max-width: 767px) {
   nav ul {
    display: none; 
  }
  
  nav .burger-icon:hover + ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(0 0 0 / 50%);
  }

  header nav ul li a {
    padding: 15px !important;
  }
}

nav ul li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 41px 10px;
    font-size: 14px;
    transition: 0.3s;
}

nav ul  li:first-child a{
  color: var(--main-color);
}

nav ul li a:hover,
nav ul li a.active {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

nav .form{
  cursor: pointer;
  width: 40px;
  height: 30px;
  position: relative;
  margin-left: 30px;
  border-left: 1px solid white;
}
nav .form i{
    color: white;
    position: absolute;
    top: 50%;
    font-size: 20px;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

